.addbook-form input {
  border: none;
  border-bottom: 1px solid gray;
  /* border-radius: 5px; */
  height: 40px;
  margin: 10px 0;
  width: 300px;
  padding: 5px;
}

.addbook-btn {
  margin-top: 20px;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: greenyellow;
}
.addbook-btn:hover {
  background-color: limegreen;
}
